*{
	margin: 0px;
}
body,html{
	background-color: #E2E1D7;
	font-family: Arial, "Helvetica";
}
header{
	position: relative;
}
#h{
	background: #3e332e url(../imgs/back.png);
	color: #E2E1D7;
	position:relative;
	font-weight: bolder;
	z-index: 1;
	padding: 10px 0;
}
#h a{
	color: inherit;
}
#h h1, #n{
	display: inline-block;
}
#h h1{
	font-family: 'BazarMedium';
	letter-spacing: 10px;
	text-align: center;
	font-size: 2.5em;
	text-shadow: 0px 3px 0px #b2a98f,
             0px 14px 10px rgba(0,0,0,0.15),
             0px 24px 2px rgba(0,0,0,0.1),
             0px 34px 30px rgba(0,0,0,0.1);
	width: 25%;
}
#main{
	width: 90%;
	margin: 0 auto;
	padding: 10px;	
}
.span7 .span3, .span7 .span2{
	float: none;
	display: inline-block;
	vertical-align: middle;
}
#n{
	width: 70%;
	text-align: right;
}
#n ul li{
	display: inline-block;
	padding: 5px;
}
#n ul li:hover{
	background-color: #E2E1D7;
	color: #000;
	border-radius: 2px;
	cursor: pointer;
}
.title{
	font-family: 'BazarMedium';
	font-weight: bolder;
	color: #6A666F;
	text-shadow:2px 2px 4px rgba(0,0,0,0.8);
	font-size: 2em;
}

/* Formularios */
form{
	background-color: transparent;
}
.input{
	margin: 0.6em;

}


.input label{
	clear: left;
	width: 10%;
	display: inline-block;
}
.input input{
	width: 30%;
	
}

#s{
	background: #3e332e;
	position:absolute;
	width: 100%;
	top:0;
	z-index: 0;
}

#s .ss{
	padding: 10px 10px;
	margin:0 ;
}

.input-s{
	position: relative;
	width: 90%;
}

.input-sd{
	width: 100%;
}

.buscar-icon{
	vertical-align: middle;
	width: 20px;	
}

.buscar-icon img{
	width: 100%;
}





/*etiquetas*/

#etiquetaC{
	background: #FFF;
	display: block;
	margin-bottom: 2%;
	width: 41%;
	padding: 5px;
	box-shadow: inset 0px 0px 1px 1px rgba(0,0,0,0.3);
}

#etiquetaC:hover{
	outline:1px solid rgba(0,0,0,0.3);
}

#etiquetaC .entrada-etiqueta{
	background: transparent !important;
	display: inline-block !important;
	margin: 4px 2px !important;
	padding: 0 !important;
	outline: 0 !important;
	border: 0 !important;
	-webkit-border-radius: 0 !important;
	box-shadow: inset 0 0 #000 !important;
}

#etiquetaC .entrada-etiqueta:focus,input[type=text]:focus{
	outline: 0 !important;
	box-shadow: inset 0 0 #000 !important;
}

#etiquetaC  span{
	cursor:pointer;
}

#etiquetaC .etiqueta{
	background: rgba(200,27,50,0.6);
	display: inline-block;
	border-radius: 5px;
	height: 22px;
	color:white;
	padding: 2px 5px;
	margin: 2px;
	position:relative;
}

#etiquetaC .etiquetaX{
	vertical-align: middle;
	display: inline-block;
	width: 20px;
	height: 22px;
}

#etiquetaC .etiqueta-txt{
	white-space: nowrap;
}